#miForm{
    min-height: 300px;
    background-color: #ccc;
    padding: 30px;
    position:relative;
}

#view-container.ng-enter,
#view-container.ng-leave      { 
    position:absolute;
    left:30px;
    right:30px;
    color:transparent;
    transition: 0.5s all ease;
    -moz-transition:0.5s all ease;
    -webkit-transition:0.5s all ease; 
}


#view-container.ng-enter{
    animation: slideInRight .5s;
/*    animation-delay: .2s;*/
/*    background-color: red;
    transform: translateX(200px);*/
}

#view-container.ng-leave{
    animation: slideOutLeft .5s; 
    /*animation-delay: .2s;*/
/*    background-color: red;
    transform: translateX(200px);*/
}

@keyframes slideInRight{
    from{ transform: translateX(200%) }
    to{ transform: translateX(0) }
}

@keyframes slideOutLeft{
    /*from{ transform: translateX(0)}*/
    to{ transform: translateX(-200%)}
}

@keyframes slideOutTop{
    to { transform: translateY(-400%) }
}